@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.about {
  padding: 2rem;
}
.about__bio-image {
  margin-top: 40px;
  height: 50vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.1)), url("../img/Alejandro-3.png") right top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.about__bio {
  margin-bottom: 2rem;
  width: 80%;
  text-align: justify;
}
.about__bio h2 {
  text-align: center;
}
.about .contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-left: 1.1rem;
}
.about .contenedor .jobs {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.about .contenedor .jobs .title {
  text-align: center;
  text-transform: capitalize;
  padding: 0;
  margin: 0 0 -1.5rem 0;
}
.about .contenedor .jobs__job {
  background: #414141;
  padding: 0.5rem;
  border-bottom: 5px solid #ff652f;
}
.about .contenedor .jobs__job h2, .about .contenedor .jobs__job h3 {
  margin: 0.5rem 0;
}
.about .contenedor .jobs__job h6 {
  margin: 0.3rem 0;
}
.about .contenedor .skills .title {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem auto 0 auto;
}
.about .contenedor .skills__group {
  background-color: #414141;
  color: #fff;
  cursor: pointer;
  padding: 0.9rem;
  margin: 0.5rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 0.82em;
  transition: all 0.6s ease-in-out;
  transition-delay: 0;
}
.about .contenedor .skills__group:after {
  content: "+";
  color: #ff652f;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.about .contenedor .skills__group.active:after {
  content: "➖";
}
.about .contenedor .skills .active, .about .contenedor .skills__group:hover {
  background-color: #8d8d8d;
}
.about .contenedor .skills .panel {
  margin: -0.5rem 0 0 0.5rem;
  padding: 0 1rem;
  display: none;
  background-color: #414141;
  overflow: hidden;
}
.about .contenedor .skills .panel ul {
  margin-left: -0.5rem;
}
.about .contenedor .skills .panel ul li {
  font-size: 0.82em;
  padding: 0.3rem;
  margin-left: 0;
  color: #fff;
}
.about .social-icons {
  display: flex;
  flex-direction: column;
}
.about footer {
  transform: rotate(-90deg) translate(1rem, 2rem);
}

.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/Alejandro-3.png") right top;
  background-size: cover;
}
.home .nodesigner {
  text-decoration: line-through;
}
.home__name {
  font-size: 4rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.home__name--last {
  color: #ff652f;
  font-weight: 700;
}

.navbar-brand {
  position: absolute;
  z-index: 1;
  left: 1rem;
  top: 0.2rem;
  height: 20px;
  width: 28px;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  transition: all 0.6s ease-in-out;
  transition-delay: 0;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.6s ease-in-out;
  transition-delay: 0;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.6s ease-in-out;
  transition-delay: 0;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #fff;
  transition: all 0.6s ease-in-out;
  transition-delay: 0;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #272727;
  list-style-type: none;
  padding: 1rem;
  transform: translateY(-100%);
}
.nav .menu-nav__item {
  transform: translate(364vw, -100vh);
}
.nav .menu-nav__item.active > a {
  color: #fff;
}
.nav .menu-nav__link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  transition: all 0.6s ease-in-out;
  transition-delay: 0;
}
.nav .menu-nav__link:hover {
  color: #fff;
}

.projects {
  padding: 2rem;
}
.projects__bio-image {
  height: 30vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.1)), url("../img/Alejandro-3.png") right top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.projects__bio-image .text-secondary {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.projects__items {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.projects__item {
  position: relative;
  border-bottom: 5px solid #ff652f;
  overflow: hidden;
  cursor: pointer;
}
.projects__item img {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav__link {
    font-size: 1.5rem;
  }
}
body {
  background: #272727;
  color: #fff;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: #ff652f;
  text-decoration: none;
}

.text-secondary {
  color: #ff652f;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}
main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
main .social-icons a {
  padding: 0.4 rem;
  transition: all 0.6s ease-in-out;
  transition-delay: 0;
}
main .social-icons a:hover {
  color: #fff;
}

footer {
  font-size: 0.5rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
